@import "tailwindcss";

@theme {
  /* Font Family */
  --font-pretendard: var(--font-pretendard-next);

  /* Typography */
  --text-xs: 12px;
  --text-xs--line-height: 14px;

  --text-sm: 13px;
  --text-sm--line-height: 16px;

  --text-md: 14px;
  --text-md--line-height: 17px;

  --text-lg: 16px;
  --text-lg--line-height: 19px;

  --text-2lg: 18px;
  --text-2lg--line-height: 21px;

  --text-xl: 20px;
  --text-xl--line-height: 24px;

  --text-2xl: 24px;
  --text-2xl--line-height: 28px;

  --text-3xl: 32px;
  --text-3xl--line-height: 38px;

  --text-4xl: 40px;
  --text-4xl--line-height: 48px;

  /* color */
  --color-black-100: #f9f9f9;
  --color-black-200: #6b6b6b;
  --color-black-300: #5e5e5e;
  --color-black-400: #515151;
  --color-black-500: #444444;
  --color-black-600: #373737;
  --color-black-700: #2b2b2b;
  --color-black-800: #1e1e1e;
  --color-black-900: #111111;
  --color-black-950: #050505;

  --color-blue-100: #ffffff;
  --color-blue-200: #eceff4;
  --color-blue-300: #c1cbe7;
  --color-blue-400: #abb8ce;
  --color-blue-500: #778ecf;
  --color-blue-600: #6b85cb;
  --color-blue-700: #3a57a6;
  --color-blue-800: #2d4380;
  --color-blue-900: #1f2f5a;
  --color-blue-950: #121b34;

  --color-brand-primary: #00539e;
  --color-brand-secondary: #ffd854;

  --color-success: #4fe46a;
  --color-error: #ff5454;

  --color-gray-100: #dddddd;
  --color-gray-200: #c4c4c4;
  --color-gray-300: #aaaaaa;
  --color-gray-400: #919191;

  --color-line-100: #c1c1c1;
  --color-line-200: #cfdbea;

  --color-default: #c1cbe7;
  --color-secondary: #8090bc;
  --color-focus: #657dbe;
  --color-active: #4c7bff;
  --color-disabled: #6f7886;

  --color-bg-wihte: #ffffff;
  --color-bg-blue: #f4f9ff;
}
